PORT=3000
DB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/eventosDB
JWT_SECRET=tu_clave_secreta_jwt
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret